<a href="https://colab.research.google.com/github/aahir3/015-AmrutBhuva/blob/main/015_Lab1_03_Linear_Algebra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
array1 = np.array([[5, 9, 3],[3, 7, 5]])
array2 = np.array([[3,-9],[5, 4],[7, -8]])
print(array1)
print(array2)

[[5 9 3]
 [3 7 5]]
[[ 3 -9]
 [ 5  4]
 [ 7 -8]]

In [ ]:
array = np.random.rand(3, 4)
print(array)

[[0.80436109 0.45852582 0.76054856 0.69037233]
 [0.0893143  0.31132927 0.3694982  0.1681819 ]
 [0.85363043 0.26048544 0.17954898 0.95359857]]

In [ ]:
mul = np.dot(array1, array2)
print(mul)

[[ 81 -33]
 [ 79 -39]]

In [ ]:
res = [[0 for x in range(len(array1))] for y in range(len(array2[0]))]

for i in range(len(array1)): 
  for j in range(len(array2[0])): 
    for k in range(len(array2)): 
      res[i][j] += array1[i][k] * array2[k][j]
 
print (res)

[[81, -33], [79, -39]]

In [ ]:
mean = np.mean(array1)
print(mean)

5.333333333333333

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/ML_DATA_UTILS/mtcars.csv")

In [ ]:
del data['model']
# meancenter
meancenter = data.apply(lambda e: e - e.mean())
print(meancenter.head())

        mpg     cyl        disp       hp  ...      vs       am    gear    carb
0  0.909375 -0.1875  -70.721875 -36.6875  ... -0.4375  0.59375  0.3125  1.1875
1  0.909375 -0.1875  -70.721875 -36.6875  ... -0.4375  0.59375  0.3125  1.1875
2  2.709375 -2.1875 -122.721875 -53.6875  ...  0.5625  0.59375  0.3125 -1.8125
3  1.309375 -0.1875   27.278125 -36.6875  ...  0.5625 -0.40625 -0.6875 -1.8125
4 -1.390625  1.8125  129.278125  28.3125  ... -0.4375 -0.40625 -0.6875 -0.8125

[5 rows x 11 columns]